<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cement Wise</title>
    <link rel="icon" href="/static/assets/pic1.jpg">
    <link rel="stylesheet" type="text/css" href="/static/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
   
</head>
<body>

<!-- Background Video & Header -->

    <div class="banner">
        <video src="/static/assets/vdo.mp4" type="Video/mp4" autoplay muted loop></video>
    
    
    <!-- Header -->

    <div class="content" id="home"> 
        <nav>
            <img src="/static/assets/pic1.jpg" class="logo" alt="Logo" title="Sweet Travels">
            
            <ul class="navbar">
                <li>
                    <a href="#home">Home</a>
                    <a href="./index.html">Analysis</a>
                    <a href="result.html">Prediction</a>
                    <a href="./about.html">About Us</a>
                    <a href="./about.html">Contact Us</a>
                </li>
            </ul>
        </nav>
 
        <div class="title">
            <h1>Cement Wise</h1>
            <h3></h3>
            <p>Get to know your Cement Strength with us!!!</p>
            <a href="./register.html" class="button">Register Now!</a>
        </div>
        </div>
    </div>

<!-- Services -->

<section class="container">
    <div class="text">
        <h2>What we are known for!!!</h2>
    </div>
    <div class="rowitems">
        <div class="container-box">
        <div class="container-image">
           <img src="/static/assets/pic2.jpeg" alt="Flight Services">
        </div>
            <h4></h4>
            <p>High Quality Cement Checker</p>
            
        </div>
    
        <div class="container-box">
        <div class="container-image">
           <img src="/static/assets/pic6.jpeg" alt="Food Services">
        </div>
            <h4></h4>
            <p>User Friendly Website </p>
        </div>

        <div class="container-box">
        <div class="container-image">
            <img src="/static/assets/pic4.png" alt="Travel Services">
        </div>
            <h4</h4>
            <p> In achieving your dram project</p>
           
        </div>

        <div class="container-box">
        <div class="container-image">
            <img src="/static/assets/pic6.jpeg" alt="Hotel Services">
        </div>
            <h4></h4>
            <p>Checks All Types Of Cements </p>
            
        </div>

    </div>

    </div>

</section>

<!-- Locations -->

<!-- Packages -->

<section class="package" id="package">
    <div class="package-title">
        <h2> Factors we take for the Quality </h2>
    </div>

    <div class="package-content">
        
        <div class="box">
            <div class="image">
                <img src="/static/assets/pic10.jpg" alt="">
                <h3></h3>
            </div>
        
        <div class="dest-content">
            <div class="location">
                <h4></h4>
                <ul class="pac-details">
                    <li>Blast Furnace slag</li>
                    <li>component 1</li>
                    <li>Kg in a m^3 mixture</li>


                
                </ul>
            </div>
        </div>
        </div>
        
        <div class="box">
            <div class="image">
                <img src="/static/assets/pic13 (3).jpg" alt="">
                <h3></h3>
            </div>
        
        <div class="dest-content">
            <div class="location">
                
                <ul class="pac-details">
                    <li>Fly Ash</li>
                    <li>Component 2</li>
                    <li>Kg in a m^3 mixture</li>
                    
                </ul>
            </div>
        </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/static/assets/pic13 (2).jpg" alt="">
                <h3></h3>
            </div>
        
        <div class="dest-content">
            <div class="location">
                <h4></h4>
                <ul class="pac-details">
                    <li>Coarse Aggregate</li>
                    <li>component 3</li>
                    <li>Kg in a m^3 mixture</li>
                   
                </ul>
            </div>
        </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="/static/assets/pic13 (1).jpg" alt="">
                <h3></h3>
            </div>
        
        <div class="dest-content">
            <div class="location">
                <h4></h4>
                <ul class="pac-details">
                    <li>Superplasticizer</li>
                    <li>component 4</li>
                    <li>Kg in a m^3 mixture</li>
                    
                </ul>
            </div>
        </div>
        </div>

    </div>

</section>

<!-- MemberMemo -->

<section class="newsletter">
    <div class="newstext">
        <h2>MemberMemo</h2>
        <p>Login to get offers and latest<br>updates every week!</p>
    </div>

    <div class="send">
        <form action="">
            <input type="email" name="emailid" placeholder="E-mail" required>
            <input type="submit" value="Login">
        </form>
    </div>

</section>

<!-- Footer -->

<section class="footer">
    <div class="foot">
        <div class="footer-content">
            
            <div class="footlinks">
                <h4>Links</h4>
                <ul>
                    <li><a href="./register.html">Register</a></li>
                    <li><a href="./about.html">About Us</a></li>
                    <li><a href="./contact.html">Contact Us</a></li>
                </ul>
            </div>

            <div class="footlinks">
                <h4>Connect</h4>
                <div class="social">
                    <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    <a href="https://www.twitter.com/" target="_blank"><i class='bx bxl-twitter' ></i></a>
                    <a href="https://www.linkedin.com/" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class='bx bxl-youtube' ></i></a>
                    
                </div>
            </div>
            
        </div>
    </div>

    <div class="end">
        <p>Copyright © 2024 Cement Wise All Rights Reserved.<br>developed by CEMENT WISER TEAM</p>
    </div>
</section>


 
</body>
</html>
